<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基础设置</title>
    <link rel="shortcut icon" href="asset/favicon.ico"/>
</head>
<body>

<form action="seat_map" method="post" id="setting">
  行数：<input type="number" name="maxRow" id="maxRow" size="40"/><br>
  列数：<input type="number" name="maxCol" id="maxCol" size="40"/><br>
  座位顺序：<input type="radio" name="order" value="left" checked="checked"/>左起
    <input type="radio" name="order" value="right">右起<br>
  <input type="submit"/> <br>
</form>

</body>
</html>